<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Ошибка: <%= codeError %></p>
    <p>УПС! что то пошло не так! сообщите админу сайта</p>
</body>
</html>