<h1>Создать задачу</h1>
<form action="/todos/new" method="post">
    <input type="text" name="title" placeholder="Название задачи" required />
    <input type="radio" name="completed" value="true" /> Completed
    <input type="radio" name="completed" value="false" /> Not completed
    <button type="submit">Создать</button>
</form>